/* || Global Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Colours */
    --blue900: #162542;
    --blue400: #5d6d8f;
    --grey200: #e8eff2;
    --white: #fff;
    --orange500: #f16718;
    --orange300: #ff9b62;
}

/* || Main Styling */

/* Default Styling =  Mobile Screen Size */

main {
    position: relative;
}

/* Header */

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-block-end: 2.5rem;
    padding: 1rem;
}

.header-btn {
    background-color: var(--grey200);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding: 1rem;
    transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.header-btn:hover {
    background-color: var(--blue900);
    color: var(--white);
}

.header-btn:focus {
    outline: 0.1rem solid var(--blue900);
    outline-offset: 0.2rem;
}

/* Tablet Screen Size */

@media screen and (min-width: 51.25rem) {
    header {
        padding: 1.8rem 2rem;
    }
}

/* Desktop Screen Size */

@media screen and (min-width: 61.25rem) {
    header {
        padding: 1.8rem 10rem;
    }
}

/* Hero Section */

.hero-section {
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    margin-block-end: 2rem;
}

.hero-text-container {
    margin-block-end: 4rem;
    padding: 0 1rem;
}

.hero-title {
    color: var(--blue900);
    font-size: 3rem;
    font-weight: 800;
    margin-block-end: 1.5rem;
}

.hero-sub-text {
    color: var(--blue400);
    line-height: 150%;
    font-weight: 500;
    margin-block-end: 2rem;
}

.hero-btn-container {
    align-items: center;
    display: flex;
    gap: 2rem;
}

.hero-btn {
    background-color: var(--orange500);
    border: none;
    border-radius: 0.5rem;
    color: var(--white);
    cursor: pointer;
    font-weight: 700;
    padding: 1rem;
    transition: background-color 0.1s ease-in-out;
}

.hero-btn:hover {
    background-color: var(--orange300);
}

.hero-btn:focus {
    outline: 0.1rem solid var(--orange500);
    outline-offset: 0.2rem;
}

.release-date {
    color: var(--blue400);
    font-weight: 700;
}

.hero-img-container {
    position: relative;
    overflow: hidden;
    height: 30rem;
}

.hero-img-keyboard-mobile {
    border-radius: 1rem;
    height: auto;
    position: absolute;
    top: 0;
    right: -4rem;
    width: 29rem;
    object-fit: cover;
}

.hero-img-keyboard-tablet {
    border-radius: 1rem;
    display: none;
    height: auto;
    position: absolute;
    top: 0;
    right: -4rem;
    width: 29rem;
    object-fit: cover;
}

.hero-img-keyboard-desktop {
    border-radius: 1rem;
    display: none;
    height: auto;
    width: 33rem;
}

.hero-shape {
    background-color: var(--grey200);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    display: none;
    height: 12rem;
    padding: 1rem;
    position: absolute;
    right: 0;
    width: 10%;
}

/* Tablet Screen Size */

@media screen and (min-width: 51.25rem) {
    .hero-section {
        display: grid;
        gap: 5rem;
        grid-template: 1fr / repeat(2, 1fr);
    }

    .hero-text-container {
        align-self: center;
        padding-left: 2rem;
    }

    .hero-img-keyboard-mobile {
        display: none;
    }

    .hero-img-keyboard-tablet {
        display: block;
        object-fit: contain;
        transform: translatex(4rem);
    }
}

/* Desktop Screen Size */

@media screen and (min-width: 61.25rem) {
    .hero-section {
        padding: 0 10rem;
    }

    .hero-btn-container {
        padding-left: 0;
    }

    .hero-img-container {
        overflow: unset;
    }

    .hero-img-keyboard-tablet {
        display: none;
    }

    .hero-img-keyboard-desktop {
        display: block;
    }

    .hero-shape {
        display: block;
    }
}

/* Image Section */

.image-section {
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    margin-block-end: 4rem;
    position: relative;
}

.image-section-img-container {
    height: auto;
    margin-block-end: 4rem;
}

.image-section-wrapper {
    align-items: center;
    height: auto;
    display: flex;
    gap: 1.5rem;
    transform: translatex(-2rem);
}

.orange-overlay-container {
    border-radius: 1rem;
    position: relative;
}

.overlay {
    background-color: var(--orange500);
    border-radius: 1rem;
    height: 100%;
    opacity: 0.7;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.image-section-img-1-mobile,
.image-section-img-2-mobile {
    border-radius: 1rem;
    height: 14rem;
    width: auto;
}

.image-section-img-1-tablet,
.image-section-img-2-tablet {
    border-radius: 1rem;
    display: none;
    height: 22rem;
    width: auto;
}

.image-section-img-1-desktop,
.image-section-img-2-desktop {
    border-radius: 1rem;
    display: none;
    height: 26rem;
    width: auto;
}

.image-section-text-container {
    padding: 0 1rem;
}

.image-section-title {
    color: var(--blue900);
    font-size: 2rem;
    font-weight: 700;
    margin-block-end: 1.5rem;
    padding-right: 6rem;
}

.image-section-sub-text {
    color: var(--blue400);
    line-height: 150%;
    font-weight: 500;
}

.image-section-shape {
    background-color: var(--grey200);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: none;
    height: 12rem;
    padding: 1rem;
    position: absolute;
    left: 0;
    width: 10%;
}

/* Tablet Screen Size */

@media screen and (min-width: 51.25rem) {
    .image-section-wrapper {
        padding: 0 2rem;
        transform: translateX(0);
    }

    .image-section-img-container {
        margin-block-end: 1.5rem;
    }

    .image-section-img-1-mobile,
    .image-section-img-2-mobile {
        display: none;
    }

    .image-section-img-1-tablet,
    .image-section-img-2-tablet {
        display: block;
    }

    .image-section-text-container {
        display: flex;
        justify-content: start;
        gap: 5rem;
        padding: 0 2rem;
    }

    .image-section-title {
        padding: 0;
    }

    .image-section-sub-text {
        padding: 0 4rem 0 0;
        width: auto;
    }
}

/* Desktop Screen Size */

@media screen and (min-width: 61.25rem) {
    .image-section {
        display: flex;
        padding: 0 10rem;
    }

    .image-section-img-1-tablet,
    .image-section-img-2-tablet {
        display: none;
    }

    .image-section-img-1-desktop,
    .image-section-img-2-desktop {
        display: block;
    }

    .image-section-text-container {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    .image-section-shape {
        display: block;
    }
}

/* Features Section */

.features-section {
    display: grid;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    grid-template: auto / 1fr;
    gap: 2.5rem;
    margin-block-end: 4rem;
    padding: 0 1rem;
}

.icon-box {
    align-items: center;
    background-color: var(--orange500);
    border-radius: 1rem;
    display: flex;
    height: 4rem;
    justify-content: center;
    margin-block-end: 2rem;
    width: 4rem;
}

h3 {
    color: var(--blue900);
    font-size: 1.5rem;
    margin-block-end: 1rem;
}

.article-text {
    color: var(--blue400);
    font-weight: 500;
    line-height: 150%;
}

/* Tablet Screen Size */

@media screen and (min-width: 51.25rem) {
    .features-section {
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        padding: 0 1.5rem;
    }
}

/* Desktop Screen Size */

@media screen and (min-width: 61.25rem) {
    .features-section {
        grid-template: 1fr / repeat(4, 1fr);
        padding: 0 10rem;
    }
}
